<nav class="navbar_wrapper">
    <div class='navbar_logo'>
        <a href="#">
        <img src="../img/logo.png" alt="logo" >
        </a>
    </div>
    <div class="navbar_right">
        <div class="navbar_profile"><img src="" alt="Photo"></div>
        <div class="navbar_login">Выход</div>
    </div>
</nav>