<div class="gid_nav--menu">
    <div class="row">
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guideProfile">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Профиль</span>  
            </a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guidePlaces">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <span>Мои места</span>
            </a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guideOptions">
                <i class="fa fa-key" aria-hidden="true"></i>
                <span>Параметры</span>
            </a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guideOrders">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span>Мои заказы</span>
            </a>
        </div>
    </div>
</div>