{% extends "templates/pageTemplate.html" %}
{% block commonStyles %}
<link href="/css/dc_style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="wrap">
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>404</h1>
            <p>{{ error }}</p>
        </div>
    </div>
</div>        
{% endblock %}