{% extends "templates/adminPage.html" %}

{% block content %}

<div class="wrap container">
    <h3>create</h3>
    <form method="POST" action="/admin/create">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>    

{% endblock %}