{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/contacts.css">
<link rel="stylesheet" href="/css/dc_spacing.css">
{% endblock %}
{% block content %}
    <div class="wrap">
        <div class = "container">
            <div class = "row">
                <div class="col-xs-12">
                    <h1 class = "title">Контакты</h1>
                    <h4 class = "contact-title"><i class="fa fa-vk" aria-hidden="true"></i><a href="https://vk.com/eyeguide"> Мы ВКонтакте</a></h4>
                    <h4 class = "contact-title"><i class="fa fa-facebook" aria-hidden="true"></i><a href="https://www.facebook.com/EyeGuide2/"> Мы в Facebook</a></h4>
                    <h4 class = "contact-title"><i class="fa fa-instagram" aria-hidden="true"></i><a href="https://www.instagram.com/eye.guide/"> Мы в Instagram</a></h4>
                    <h4 class = "contact-title"><i class="fa fa-odnoklassniki " aria-hidden="true"></i><a href="https://ok.ru/group/53557406990484"> Мы в Odnoklassniki </a></h2>
                    <h4 class = "contact-title"><i class="fa fa-phone " aria-hidden="true"></i> +7 (916) 373-52-27</h4>
                    <h4 class = "contact-title"><i class="fa fa-envelope-o " aria-hidden="true"></i> info@eyeguide.ru</h4>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}   


  {% block commonJS %}
  {% endblock %}
</body>
</html>