{% extends "templates/adminPage.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/registration-form.css">
<link rel="stylesheet" href="/css/choices.min.css">
<script src="/js/choices.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid wrap">
    <div class="row">
        <div class="left-sidebar col-md-6">
            <h1 class="text-center">Добавить место</h1>
            <form action="/admin/create/place" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input class="form-control" id="name" type="text" name="place[name]" required>
                </div>
    
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea class="form-control" id="description" name="place[description]" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="city">Город</label>
                    <select id="city" class="single-choice" name="place[city]" required>
                        {% for city in cities %}
                        <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="img">Изображение</label>
                    <input class="form-control" id="img" type="file" name="img">
                </div>
    
                <div class="form-group">
                    <label for="x">X</label>
                    <input class="form-control" id="x" type="number" name="place[geo.x]" step="0.000001" required>
                </div>
    
                <div class="form-group">
                    <label for="y">Y</label>
                    <input class="form-control" id="y" type="number" name="place[geo.y]" step="0.000001" required>
                </div>
                <button type="submit" id="submit" class="btn btn-block btn-primary">Добавить</button>
            </form>
        </div>

        <div class="right-sidebar col-md-6">
            <h1 class="text-center">Добавленные места</h1>
            <div class="added-places">
                <ul>
                    {% for place in addedPlaces %}
                    <li class="place">
                        <a href="/place/{{ place._id }}" class="place-name">
                            <h4>{{ place.name }}</h3>
                        </a>
                        <div class="control-btns">
                            <a href="/place/{{ place._id }}/edit" class="btn btn-warning">Редактировать</a>
                            <form class="form-btn" action="/place/{{ place._id }}/remove" method="POST">
                                <button class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block commonJS %}
<script src="/js/choiceInputs.js"></script>
{% endblock %}