{% extends "templates/adminPage.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/registration-form.css">
{% endblock %}

{% block content %}
<div class="container wrap">
    <div class="row">
        <div class="left-sidebar">
            <h1 class="text-center">Редактировать гида</h1>
            <form class="form-center" action="/profile/{{ guide._id }}" method="POST">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="editGuide[name]" value="{{ guide.name }}" required>
                </div>
                <div class="form-group">
                    <label for="surname">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="editGuide[surname]" value="{{ guide.surname }}" required>
                </div>
                
                <div class="form-group">
                    <label for="description">О себе</label>
                    <textarea class="form-control" id="description" name="description" rows="5">{{ guide.description[0].value }}</textarea>
                </div>

                <button type="submit" id="submit" class="btn btn-block btn-primary">Подтвердить</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}