{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/choices.min.css">
<link rel="stylesheet" href="/css/registration-form.css">
<script src="/js/choices.min.js"></script>
{% endblock %}

{% block content %}
<div class="modal fade" id="rights">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-label="Close" data-target="#rights"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Условия соглашения</h4>
            </div>
            <div class="modal-body">
                <div class="rights-text text-left">
                    <p>
                        1. Уточнения
                        «EyeGuide», «мы», «нас/нам» или «наш/наша/наше/наши» означает ресурс EyeGuide.
                        «Платформа» означает (мобильный) веб-сайт, находящийся под контролем, управлением и во владении ресурсом EyeGuide, на котором предоставляется Сервис.
                        «Сервис» означает услугу онлайн-бронирования различных продуктов и услуг, которые в определенное время Поставщики предлагают на Платформе.
                        «Поставщик» - поставщики услуг/продуктов, связанных с достопримечательностями, музеями, экскурсиями, которые в определенное время предлагаются для бронирования на Платформе.
                    </p>
                    <p>
                        2. Описание услуг
                        Посредством Платформы мы (ресурс EyeGuide) предоставляем онлайн–платформу, с помощью которой все Поставщики могут выставлять для бронирования свои услуги и продукты, а посетители данного веб-сайта — осуществлять бронирования. При совершении бронирования через EyeGuide.ru вы вступаете в прямые (имеющие юридическую силу) договорные отношения с Поставщиком, у которого вы делаете бронирование или приобретаете услугу/продукт. С момента совершения вами бронирования мы действуем исключительно как посредник между вами и Поставщиком, передавая детали вашего бронирования соответствующему Поставщику (соответствующим Поставщикам) и отправляя вам электронное подтверждение бронирования от имени Поставщика.
                        При предоставлении нашего Сервиса предлагаемая информация основана на сведениях, предоставленных нам Поставщиками. Поставщики несут полную ответственность за обновление информации о ценах, проводимых экскурсиях и других данных, отражаемых на нашей Платформе. Несмотря на то, что мы делаем все возможное, чтобы обеспечить качество оказываемых услуг, мы не можем проверять достоверность и гарантировать точность или полноту всей информации, а также не несём ответственность за какие-либо ошибки (включая явные и типографские), сбои (возникшие из-за (временной и/или частичной) поломки, ремонта, усовершенствования или поддержки нашей Платформы или по иным причинам), неточную, недостоверную или ложную информацию или неполучение информации. Каждый Поставщик при любых условиях несёт ответственность за точность, полноту и правильность (описательной) информации (включая цены), отображаемой на нашей Платформе. Наша Платформа не является и не должна рассматриваться в качестве рекомендации или свидетельства качества, уровня услуг или рейтинга любого предлагаемого Поставщика (или его продуктов, услуг).
                    </p>    
                    <p>
                        3. Ценообразование
                        Цены на нашей Платформе очень конкурентоспособны. Все цены указаны за экскурсию, если на нашей Платформе или в электронном подтверждении бронирования не указано иное. Цены указаны независимо от количества человек или же за определенный диапазон (например, от 1 до 10). 
                    </p>
                    <p>
                        4. Конфиденциальность
                        EyeGuide.ru заботится о сохранности ваших персональных данных. Ознакомьтесь с разделом «Конфиденциальность».
                    </p>
                    <p> 
                        5. Бесплатные услуги
                        Наш Сервис бесплатен для вас, так как в отличие от многих других компаний, мы не взимаем плату с вас за наш Сервис.
                    </p>
                    <p> 
                        6. Отмена бронирования и важная информации
                        Если в день экскурсии вы опаздываете, приезжаете поздно или можете только на следующий день, (своевременно/оперативно) сообщите об этом Поставщику. Таким образом, Поставщик будет знать, когда вас ожидать, это поможет избежать отмены бронирования. При необходимости наша служба поддержки может связаться с Поставщиком за вас. EyeGuide.ru не несет ответственности за последствия вашего опоздания, а также отмену бронирования.
                    </p>
                    <p>  
                        7. (Дальнейшая) корреспонденция и коммуникация
                        Завершая бронирование, вы соглашаетесь на получение электронного письма, которое мы можем послать вам непосредственно перед днем экскурсии, с информацией о соответствующем маршруте и определенными данными, а также электронного письма, которое мы можем послать вам сразу после вашей экскурсии, с предложением заполнить нашу форму отзыва о/об экскурсоводе/гиде. 
                        Для гарантии бронирования указывайте верные данные – это относится к номеру телефона, электронной почте. Мы не несем ответственности за (и не обязаны проверять) любой неверный или написанный с ошибкой электронный адрес, неправильно указанный номер (мобильного) телефона или номер кредитной карты.
                    </p>
                    <p> 
                        8. Порядок размещения объектов на ресурсе и отзывы туристов
                        По умолчанию объекты размещения на нашем сайте отсортированы по признаку «Рекомендованные» (может использоваться любая похожая формулировка) («Сортировка по умолчанию»). Для вашего удобства мы также предлагаем другие способы сортировки объектов размещения. Пожалуйста, обратите внимание, что Сортировка по умолчанию создается полностью автоматизированной системой оценки (алгоритмом) и основана на множестве критериев, среди которых не только популярность объекта среди пользователей, но и история взаимодействия со службой поддержки и некоторые данные по бронированиям (число бронирований и отмен, уровень конверсии и т. д.). 
                        Заполненный отзыв может быть размещен на соответствующей странице Поставщика на нашей Платформе с единственной целью — сообщить (будущим) клиентам ваше мнение об уровне услуг и качестве Поставщика, а также (полностью или частично) использован компанией EyeGuide.ru по ее собственному усмотрению (например, в маркетинговых целях, рекламных целях или для улучшения оказываемой услуги) на ее Платформе или в других похожих социальных медиа-платформах, рассылках новостей, специальных рекламных акциях, приложениях или при использовании любых других каналов, принадлежащих или контролируемых ресурсом EyeGuide.ru. Ресурс оставляет за собой право изменять, отклонять или удалять отзывы по собственному усмотрению. Формы для отзывов туристов рассылаются только с целью проведения опроса.
                    </p>
                    <p> 
                        9. Ограничение ответственности
                        Согласно ограничениям, установленным в настоящих правилах и условиях и в соответствии с законодательством, мы несём ответственность только за возмещение прямого ущерба, фактически понесенного, оплаченного или причиненного вследствие ненадлежащего исполнения наших обязательств при оказании услуг в пределах суммы общей стоимости вашего заказа, как указано в электронном письме с подтверждением бронирования (за одно происшествие или серию взаимосвязанных происшествий).
                        Несмотря на это ни наш ресурс не несёт ответственности в соответствии с законодательством за:
                        -неточность, касающуюся (описательной) информации (включая цены, наличие номеров и рейтинги (звездность)) Поставщика, представленной на нашей Платформе;
                        - услуги или продукты, предлагаемые Поставщиком;
                        - любые (прямые, косвенные, последующие или штрафные) убытки, ущерб или затраты, понесенные, принятые или оплаченные вами и возникшие в связи или в результате использования, невозможности использования или перерыва в работе нашей Платформы;
                        - форс-мажорные обстоятельства или любые иные неконтролируемые нами события.
                    </p>
                    <p> 
                        10. Права на интеллектуальную собственность
                        Все программное обеспечение, необходимое для оказания наших услуг и/или используемое на нашей Платформе, и права на интеллектуальную собственность (включая авторские и смежные с ними права) в отношении контента, информации и материалов, размещенных на Платформе, принадлежат ресурсу EyeGuide.ru.
                        EyeGuide.ru сохраняет за собой исключительное право владения, пользования и распоряжения (все права на интеллектуальную собственность) (стиль оформления (включая функционал)) Платформой, на котором предлагается сервис (в том числе отзывы туристов), и вы не наделены правами копирования, автоматического или программного считывания/сбора/анализа данных, создания (гипер-/внешних) ссылок, публикации, продвижения, маркетинга, интеграции, использования, объединения или иного применения контента (включая любые его переводы и отзывы гостей) или нашего бренда без нашего прямого письменного разрешения. В случае, если вы (полностью или частично) используете или объединяете наш (переведенный) контент (в том числе отзывы гостей) или иным образом будете обладать правом интеллектуальной собственности на Платформу или любое (переведенное) содержимое или отзывы гостей, настоящим вы передаете и уступаете все права на интеллектуальную собственность такого рода в пользу EyeGuide.ru. Любое незаконное использование или совершение любого из вышеупомянутых действий будет представлять собой существенное нарушение наших прав на интеллектуальную собственность (включая авторские права и смежные с ними права и права изготовителя базы данных).
                    </p>
                </div>
                <button type="button" class="btn btn-primary close-modal" aria-label="Close" data-target="#rights">Я прочитал</button>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Регистрация</h1>
            <h4 class="text-center red">Все отмеченные поля обязательны для заполнения!</h4>
            <form class="form-center" action="/registration" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <span class="red big">*</span><label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="guide[name]" required>
                </div>
                <div class="form-group">
                    <span class="red big">*</span><label for="surname">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="guide[surname]" required>
                </div>
                
                <div class="form-group">
                    <span class="red big">*</span><label for="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" name="guide[email]" required>
                </div>
                <div class="form-group">
                    <span class="red big">*</span><label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="guide[password]" required>
                </div>
                <div class="form-group">
                    <span class="red big">*</span><label for="password-again">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="password-again" name="confirmPassword" required>
                </div>

                <div class="form-group">
                    <span class="red big">*</span><label for="age">Возраст</label>
                    <input type="number" class="form-control" id="age" name="guide[age]" min="0" required>
                </div>
                <div class="form-group">
                    <span class="red big">*</span><label for="phone">Телефон</label>
                    <input type="text" class="form-control" id="phone" name="guide[phone]" required>
                </div>
                <div class="form-group">
                    <span class="red big">*</span><label for="description">О себе</label>
                    <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label>Фотография</label><span><i>  (Допустимый вес не более 2 Мб)</i></span>
                    <input type="file" class="form-control" id="img" name="img">
                </div>

                <div class="form-group">
                    <span class="red big">*</span><label for="city">Город</label>
                    <select id="city" class="multiple-choice" name="guide[city]" multiple required>
                        {% for city in cities %}
                        <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" name="car"> Наличие автомобиля
                    </label>
                </div>

                <div class="form-group">
                    <span class="red big">*</span><label for="spec">Специализации</label> <span><i>  (Например: гид-экскурсовод, гид-переводчик)</i></span>
                    <input type="text" class="multiple-choice form-control" id="spec" name="spec" placeholder="Введите специализации">
                </div>
                <div class="form-group">
                    <span class="red big">*</span><label for="types">Виды экскурсий</label><span><i>  (Например: пешие, автобусные, квесты, групповые, индивидуальные)</i></span>
                    <input type="text" class="multiple-choice form-control" id="types" name="types" placeholder="Введите виды экскурсий">
                </div>
                <div class="form-group">
                    <span class="red big">*</span><label for="languages">Языки</label>
                    <select class="multiple-choice form-control" id="languages" name="lang" placeholder="Выберите языки, которые вы знаете" multiple required>
                        {% for lang in languages %}
                        <option value="{{ lang.key }}">{{ lang.value }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="checkbox">
                        <span class="red big">*</span>
                    <label>
                        <input type="checkbox" name="rules" required> Прежде чем зарегистрироваться необходимо принять <a type="button" class="open-modal" data-target="#rights">условия соглашения</a>
                    </label>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lc_q0AUAAAAALbWQZt95S5aw0ybCNqGc_uxw28H"></div>
                <br>
                
                <button type="submit" id="submit" class="btn btn-block btn-success">Зарегистрироваться</button>
            </form>       
        </div>
    </div>
</div>
{% endblock %}

{% block commonJS %}
<script src="/js/choiceInputs.js"></script>
<script src="/js/modal.js"></script>
{% endblock %}
