{% extends "templates/pageTemplate.html" %} {% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_gid-places.css">
<link rel="stylesheet" href="/css/choices.min.css">
<link rel="stylesheet" type="text/css" href="/css/commonBalloon.css">
<script src="/js/choices.min.js"></script>
<script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script> {% endblock %} {% block content %}

<div class="wrap">
  <!-- ====================== -->
  <!-- top-menu -->
  <div class="container-fluid gid_nav">
    <div class="row">
      <div class='col-xs-12 col-sm-12 col-md-9 col-md-push-3 '>
        {% include "templates/top_menu.html" %}
      </div>
      <div class="col-md-3 col-md-pull-9 map_menu">
          {% if guide.visible == 2 %}
        <div class="wrapper">
          <form class="input-group" id='place-form'>
            <select name="places[]" id="place_choise" required>
              <option selected disabled placeholder>Выберите место</option>
              {% for place in places %}
              <option value="{{ place._id }}" name="place">{{ place.name }}</option>
              {% endfor %}
            </select>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Добавить</button>
            </span>
          </form>
          <a href='/suggest/place'> (Зарегистрировать новое место...)</a>
        </div>
        {% endif %}
        {% if guide.visible == 0 %}
        <h5>Чтобы добавить экскурсии подтвердите свой email.</h5>
        {% endif %}
        {% if guide.visible == 1 %}
        <h5>Чтобы добавить экскурсии дождитесь проверки вашего профиля модератором.</h5>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- ================================ -->
  <!-- main -->
  <div class="container-fluid main-content">
    <div class="row">
      <aside class="col-sm-12 col-md-3 col-lg-3 col-md-3">

        <select class="form-control form_lang" name="lang">
          <option value="RU" selected>ru</option>
          <option value="EN">en</option>
        </select>

        <h4>Мои экскурсии:</h4>
        
        <ul id="places">
          {% for place in myPlaces %}
          <li>

            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" date-parent='#accordion' href="#place_{{ place._id}}">
                    <h4 class="panel-title">
                      {{ place.name }}
                    </h4>
                  </a>
                </div>
                <div id='place_{{ place._id}}' class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="order done_order">
                      <div class="edit_place">
                        <form hidden>
                          <input type="hidden" name="placeId" value="{{ place._id}}" />
                          <button class="btn btn-block">Редактировать место</button>
                        </form>
                      </div>
                      <div class="remove_place">
                        <form method="POST" action="/guidePlaceRemove">
                          <input type="hidden" name="placeId" value="{{ place._id}}" />
                          <button class="btn btn-block">Удалить место</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end order -->

          </li>
          {% endfor %}
        </ul>

      </aside>
      <main class="col-sm-12 col-md-9 col-lg-9 col-md-9">
        <div id="YMapsID"></div>
      </main>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content" name="excursion">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Экскурсия по месту</h4>
        </div>
        <div class="modal-body">
          <h5>В данном окне можно указать зависимость цены от числа человек в экскурсии. Если у вас нет ограничений по числу человек (вообще или в конкретном диапазоне), то поле "до" оставьте пустым.</h5>
          <h4>Настройки стоимости:</h4>
          <div class="form-group">
            <div class="price">
              <span>Количество человек: </span>
              <label>от
                <input type="number" name="peopleMin1" value=1 readonly>
              </label>
              <label>до
                <input type="number" name="peopleMax1" value=1 min=1>
              </label>
              <br>
              <span>Цена за одного человека:</span>
              <input type="number" name="price1" min=0 required>
            </div>
            <div class="price-config">
              <button class='modal__add'>+</button>
              <button class='modal__remove none'>-</button>
            </div>
          </div>
          <div class="form-group" id="duration">
            <label id='form-duration' for="duration">Длительность экскурсии в часах: 1</label>
            <input class="form-control" type="range" id="duration" name="duration" step='.5' min='1' max='5' value='1' required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary">Добавить место</button>
        </div>
      </form>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</div>

{% endblock %} {% block commonJS %}
<script src="/js/jquery-2.2.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/gid_places.js"></script> {% endblock %}