{% extends "templates/pageTemplate.html" %} {% block commonStyles %}
<link rel="stylesheet" type="text/css" href="/css/dc_spacing.css">
<link rel="stylesheet" type="text/css" href="/css/dc_style.css">
<link rel="stylesheet" type="text/css" href="/css/dc_slider.css">
<link rel="stylesheet" type="text/css" href="/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="/css/commonBalloon.css">
{% endblock %} {% block content %}
<div class="wrap">
    <div class="container guideCard mt-3 mb-3">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-center mb-3">{{ guide.name +' '+ guide.surname }}</h3>
                    </div>
                    <div class="col-xs-12">
                        <img src="{{ guide.img }}" class="img-thumbnail center-block" id='avatar' value='{{guide._id}}' height="300" width="300">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="row text-center guideArea mt-3">
                    <div class="col-xs-12 col-lg-5 guideInfo m-lg-1 my-1 ">
                        <h4>Специализации</h4>
                        <h5>{{guide.info.spec}}</h5>
                    </div>
                    <div class="col-xs-12 col-lg-5 guideInfo m-lg-1 my-1 ">
                        <h4>Языки</h4>
                        <h5>{{guide.info.lang}}</h5>
                    </div>
                    <div class="col-xs-12 col-lg-5 guideInfo m-lg-1 my-1 ">
                        <h4>Виды экскурсий</h4>
                        <h5>{{guide.info.types}}</h5>
                    </div>
                    <div class="col-xs-12 col-lg-5 guideInfo m-lg-1 my-1 ">
                        <h4>Часов экскурсий</h4>
                        <h5>{{guide.info.hours}}</h5>
                    </div>
                    <div class="col-xs-12 col-lg-5 guideInfo m-lg-1 my-1 ">
                        <h4>Проведенных экскурсий</h4>
                        <h5>{{guide.info.tours}}</h5>
                    </div>
                    <div class="col-xs-12 col-lg-5 guideInfo m-lg-1 my-1 ">
                        <h4>Счастливых туристов</h4>
                        <h5>{{guide.info.happy}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h3 class="text-center mb-3">Информация о гиде</h3>
                <h4>{{guide.description[0].value}}</h4>
            </div>
            <div class="col-xs-12">
                <form action="/new_order" method="POST" class="my-1">
                    <input type="hidden" value="{{guide._id}}" name="guideId">
                    <button type="submit" class="btn btn-order btn-default btn-lg">Заказать!</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center mb-3">Места</h3>
                <div class="slick-codepen">
                    {% for item in guide.places %}
                    <div class="">
                        <a href="/place/{{ item.id }}">
                            <img class="slide" src="{{item.img}}" title="{{item.name}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <h3 class="text-center mb-3">Расположение на карте</h3>
        <div class="row">
            <div class="col-xs-12 mb-5">
                <div id="YMapsID"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block commonJS %}
<script type="text/javascript" src="https://api-maps.yandex.ru/1.1/index.xml"></script>
<script type="text/javascript" src="/js/guideCardMap.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/guideCard.js"></script> {% endblock %}
