{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_search.css">

<link rel="stylesheet" href="/css/choices.min.css">
<script src="/js/choices.min.js"></script>
{% endblock %}

{% block content %}
<div class="wrap">

  <!-- ================================ -->
  <!-- main -->
  <main>
      <div class="container-fluid">
        <div class="row">

          <!-- ================================ -->
          <!-- switcher -->
            <div class="col-xs-12 col-sm-12 col-md-9">
              <div class="switcher">
                <button class="to-guides active" data-target="#guides">Гиды</button>
                <button class="to-places" data-target="#places">Места</button>
              </div>
            </div>

            <!-- ================================ -->
            <!-- search config-bar -->
            <div id="search_config" class="col-xs-12 col-sm-12 col-md-offset-9 col-md-3"> <!-- search config -->
                  <aside>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <a data-toggle="collapse" date-parent='#accordion' href="#collapse_search">
                            <div class="panel-search">
                                Параметры поиска
                            </div>
                          </a>
                          <div id="collapse_search" class="panel-collapse in">
                            <div class="panel-body row">
                              <div class="form-group search_lang col-xs-12 col-sm-4 col-md-12">
                                <label for="language">Язык</label>
                                <select class="single-choice form-control" id="language" name="lang" required>
                                  {% for lang in langs %}
                                  <option value="{{ lang.key }}">{{ lang.value }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <div class="form-group search_city col-xs-12 col-sm-4 col-md-12">
                                <label for="city">Город</label>
                                <select id="city" class="single-choice" name="city" required>
                                    {% for city in cities %}
                                    <option value="{{ city }}">{{ city }}</option>
                                    {% endfor %}
                                </select>
                              </div>
                              <div class="form-group search_place col-xs-12 col-sm-4 col-md-12">
                                <label for="places">Места</label>
                                <select id="places" name="places" placeholder="Введите места" multiple required>

                                </select>
                              </div>
                              <div class="form-group search_date col-xs-12 col-sm-4 col-md-12">
                                <label for="date">Выберите дату</label>
                                <input id="date" class="form-control" type="date">
                              </div>
                              <div class="form-group search_сar col-xs-12 col-sm-4 col-md-12">
                                <label>Наличие автомобиля</label>
                                <div class="form">
                                    <label class="checkbox-inline"><input type="checkbox" value="">Да</label>
                              </div>
                            </div>
                           <div class="form-group search_confirm col-xs-12 col-sm-12 col-md-12">
                            <button type="submit">Поиск</button>
                           </div>
                          </div>
                        </div>
                      </div>
                  </aside>
              </div>

            <!-- ================================ -->
            <!-- places and guides template -->
            <!-- ================================ -->
            <div class="col-xs-12 col-sm-12 col-md-9">
              <!-- ================================ -->
              <!-- guides template -->
              <div id="guides" class="row">
                {% for guide in guides %}
                <a href="/profile/{{ guide._id }}" class="element col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div style="background-image: url('{{ guide.img }}')" class="element-img col-md-12"></div>
                    <div class="element-info col-md-12">
                        <h3 class="element-name">{{ guide.name }}</h3>
                        <p class="element-stats">
                            {{ guide.info.hours }} часов экскурсии<br>
                            {{ guide.info.tours }} проведенных экскурсий<br>
                            {{ guide.info.happy }} счастливых туристов
                        </p>
                    </div>
                </a>
                {% endfor %}
              </div>

              <!-- ================================ -->
              <!-- places template -->
              <div id="places" class="row hidden">
                {% for place in places %}
                <a href="/place/{{ place._id }}" class="element col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div style="background-image: url('{{ place.img }}')" class="element-img col-md-12"></div>
                    <div class="element-info col-md-12">
                        <h3 class="element-name">{{ place.name }}</h3>
                        <p class="element-stats">
                            {{ place.description | truncate(110) }}
                        </p>
                    </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
  </main>

  
</div> <!-- wrap -->
 {% endblock %}
 
 {% block commonJS %}
 <script src="/js/choiceInputs.js"></script>

 <script src="/js/jquery-2.2.3.min.js"></script>
 <script src="/js/search.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 
 {% endblock %}
 {% block footerClasses %}col-md-9{% endblock %}