{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_search.css">
<link rel="stylesheet" href="/css/loader.css">

<link rel="stylesheet" href="/css/choices.min.css">
<link rel="stylesheet" href="/css/jz_guide_search.css">
<script src="/js/choices.min.js"></script>
{% endblock %}

{% block content %}
<div class="wrap">

  <!-- ================================ -->
  <!-- main -->
  <main>
      <div class="container-fluid">
        <div class="row">

          <!-- ================================ -->
          <!-- search config-bar -->
          <div id="search_config" class="col-xs-12 col-sm-12 col-md-offset-9 col-md-3"> <!-- search config -->
            <aside>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <a data-toggle="collapse" date-parent='#accordion' href="#collapse_search">
                    <div class="panel-search">
                        Параметры поиска
                    </div>
                  </a>
                  <div id='collapse_search' class="panel-collapse in">
                    <div class="panel-body row">
                      <form action="/search/guides" method="GET">
                        <div class="form-group search_lang col-xs-12 col-sm-4 col-md-12">
                          <label for="languages">Языки</label>
                          <select class="single-choice form-control" id="languages" name="lang">
                              {% for lang in languages %}
                              <option {% if selectedLang == lang.key %} selected {% endif %} value="{{ lang.key }}">{{ lang.value }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group search_city col-xs-12 col-sm-4 col-md-12">
                          <label for="city">Город</label>
                          <select id="city" class="single-choice" name="city">
                              {% for city in cities %}
                              <option {% if selectedCity == city %} selected {% endif %} value="{{ city }}">{{ city }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group search_place col-xs-12 col-sm-4 col-md-12">
                          <label for="places">Места</label>
                          <select id="places" name="places" placeholder="Введите места" multiple>

                          </select>
                        </div>
                        <div class="form-group search_date col-xs-12 col-sm-4 col-md-12 hidden">
                          <label for="date">Выберите дату</label>
                          <input id="date" class="form-control" type="date">
                        </div>
                        <div class="form-group search_cost col-xs-12 col-sm-4 col-md-12 hidden">
                          <a data-toggle="collapse" href="#collapse_cost" aria-expanded="false">
                            <label>Стоимость</label>
                          </a>
                          <div id="collapse_cost" class="collapse">
                            <div class="form-group search_amount col-xs-12 col-sm-4 col-md-12">
                              <label for="amount">Количество человек</label>
                              <input id="amount" class="form-control" type="number">
                            </div>
                            <div class="form-group search_max-cost col-xs-12 col-sm-4 col-md-12">
                              <label for="max-cost">Максимальная стоимость</label>
                              <input id="max-cost" class="form-control" type="number">
                            </div>
                          </div>
                        </div>
                        <div class="form-group search_сar col-xs-12 col-sm-4 col-md-12">
                            <label for="car">Наличие автомобиля</label>
                            <div class="toggle">
                                {% if selectedCar %}
                                <input id="car" type="checkbox" name="car" class="check" checked>
                                {% else %}
                                <input id="car" type="checkbox" name="car" class="check">
                                {% endif %}
                                <b class="b switch"></b>
                                <b class="b track"></b>
                              </div>
                        </div>
                        <div class="form-group search_confirm col-xs-12 col-sm-12 col-md-12">
                          <button type="submit">Поиск</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>

            <!-- ================================ -->
            <!-- places and guides template -->
            <!-- ================================ -->
            <div class="col-xs-12 col-sm-12 col-md-9">
              <!-- ================================ -->
              <!-- guides template -->
              <div id="guides" class="row pagination-container">
                {% for guide in guides %}
                <a href="/profile/{{ guide._id }}" class="element col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div style="background-image: url('{{ guide.img }}')" class="element-img col-md-12"></div>
                    <div class="element-info col-md-12">
                        <h3 class="element-name">{{ guide.name }}</h3>
                        <p class="element-stats">
                            {{ guide.info.hours }} часов экскурсии<br>
                            {{ guide.info.tours }} проведенных экскурсий<br>
                            {{ guide.info.happy }} счастливых туристов
                        </p>
                    </div>
                </a>
                {% endfor %}
              </div>
              <div class="loader" data-total="{{ totalPages }}">
                <div id="largeBox"></div>
                <div id="smallBox"></div>
              </div>
            </div>
          </div>
      </div>
  </main>

  
</div> <!-- wrap -->
 {% endblock %}
 
 {% block commonJS %}
 <script src="/js/choiceInputs.js"></script>

 <script src="/js/jquery-2.2.3.min.js"></script>

 <script src="/js/pagination.js"></script>
 <script src="/js/search_guides.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 
 {% endblock %}
 {% block footerClasses %}col-md-9{% endblock %}