{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_search.css">
<link rel="stylesheet" href="/css/loader.css">
<link rel="stylesheet" type="text/css" href="/css/commonBalloon.css">
<link rel="stylesheet" href="/css/choices.min.css">
<script src="/js/choices.min.js"></script>
<script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="wrap">

  <!-- ================================ -->
  <!-- main -->
  <main>
      <div class="container-fluid">
        <div class="row">

          <!-- ================================ -->
          <!-- switcher -->
            <div class="col-xs-12 col-sm-12 col-md-9">
              <div class="switcher">
                <button class="to-placesMap active" data-target="#placesMap">Карта</button>
                <button class="to-places" data-target="#places">Список</button>
              </div>
            </div>

            <!-- ================================ -->
            <!-- search config-bar -->
            <div id="search_config" class="col-xs-12 col-sm-12 col-md-offset-9 col-md-3"> <!-- search config -->
                  <aside>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <a data-toggle="collapse" date-parent='#accordion' href="#collapse_search">
                            <div class="panel-search">
                                Параметры поиска
                            </div>
                          </a>
                          <div id='collapse_search' class="panel-collapse in">
                            <div class="panel-body row">
                              <form action="/search/places" method="GET">
                                <div class="form-group search_city col-xs-12 col-sm-4 col-md-12">
                                  <label for="city">Город</label>
                                  <select id="city" class="single-choice" name="city">
                                      {% for city in cities %}
                                      <option {% if selectedCity == city %} selected {% endif %} value="{{ city }}">{{ city }}</option>
                                      {% endfor %}
                                  </select>
                                </div>
                                <div class="form-group search_place col-xs-12 col-sm-4 col-md-12">
                                  <label for="place">Место</label>
                                  <select id="place" name="place" placeholder="Введите место">
                                      
                                  </select>
                                </div>
                                <div class="form-group search_date col-xs-12 col-sm-4 col-md-12" hidden>
                                    <label for="date">Выберите дату</label>
                                    <input id="date" class="form-control" type="date">
                                  </div>

                                <div class="form-group search_confirm col-xs-12 col-sm-12 col-md-12">
                                  <button type="submit">Поиск</button>
                                </div>
                              </form>
                          </div>
                        </div>
                      </div>
                  </aside>
              </div>

            <!-- ================================ -->
            <!-- places and map template -->
            <!-- ================================ -->
            <div class="col-xs-12 col-sm-12 col-md-9">


              <!-- =============================== -->
              <!-- places map template -->
              <!-- =============================== -->
              <div id="placesMap" class="row">
                  <div class="col-md-12">
                      <div id="YMapsID"></div>
                  </div>
                </div>

              <!-- ================================ -->
              <!-- places template -->
              <div id="places" class="row pagination-container hidden">
                {% for place in places %}
                <a href="/place/{{ place._id }}" class="element col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div style="background-image: url('{{ place.img }}')" class="element-img col-md-12"></div>
                    <div class="element-info col-md-12">
                        <h3 class="element-name">{{ place.name }}</h3>
                        <p class="element-stats">
                            {{ place.description | truncate(110) }}
                        </p>
                    </div>
                </a>
                {% endfor %}
              </div>
              <div class="loader" data-total="{{ totalPages }}">
                <div id="largeBox"></div>
                <div id="smallBox"></div>
              </div>


            </div>
          </div>
      </div>
  </main>

  
</div> <!-- wrap -->
 {% endblock %}
 
 {% block commonJS %}
  <script src="/js/jquery-2.2.3.min.js"></script>

  <script src="/js/pagination.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/choiceInputs.js"></script>

  <script src="/js/bootstrap.min.js"></script>
 {% endblock %}
 {% block footerClasses %}col-md-9{% endblock %}