{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/registration-form.css">
<link rel="stylesheet" href="/css/choices.min.css">
<script src="/js/choices.min.js"></script>
{% endblock %}

{% block content %}
<div class="container wrap">
    <div class="row">
        <h1 class="text-center">Предложить место</h1>
        <form class="form-center" action="/suggest/place" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Название:</label>
                <input class="form-control" id="name" type="text" name="place[name]" required>
            </div>

            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea class="form-control" id="description" name="place[description]" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label for="city">Город</label>
                <select id="city" class="single-choice" name="place[city]" required>
                    {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="img">Изображение:</label>
                <input class="form-control" id="img" type="file" name="img">
            </div>

            <div class="form-group">
                <label for="x">X:</label>
                <input class="form-control" id="x" type="number" name="place[geo.x]" step="0.000001" required>
            </div>

            <div class="form-group">
                <label for="y">Y:</label>
                <input class="form-control" id="y" type="number" name="place[geo.y]" step="0.000001" required>
            </div>
            <button type="submit" id="submit" class="btn btn-block btn-primary">Предложить добавление</button>
        </form>
    </div>
</div>

{% endblock %}

{% block commonJS %}
<script src="/js/choiceInputs.js"></script>
{% endblock %}