main {
  padding-top: 2rem;
}
main ul {
  position: relative;
  list-style: none;
  padding-right: 3rem;
  background: linear-gradient(to top, white, #b9ffbe);
  border-radius: 10px;
}
main li {
  padding: 1rem;
}

.profile_photo{
  position: relative;
  margin: auto;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  box-shadow: 0px 0px 10px 2px #ccc;
  border: 2px solid #ccc;
}
.edit {
  text-align: center;
  background-color: #16773f;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
aside .edit {
  position: absolute;
  line-height: 2.5rem;
  font-size: 1.5em;
  bottom: 0;
  right: 0;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid black;
}
aside .edit:active {
  box-shadow: 0px 1px 5px black inset;
}
.big_edit {
  position: fixed;
  line-height: 1.1em;
  font-size: 4.2em;
  right: calc(10%);
  bottom: calc(20%);
  width: 8rem;
  height: 8rem;
  border: 4px solid black;
  box-shadow: 0 20px 100px black;
  z-index: 1001;
}
.big_edit:active {
  box-shadow: 0 20px 100px black,
              0px 5px 10px black inset;
}
.edit_small {
  position: absolute;
  display: none;
  line-height: 2.5rem;
  font-size: 2em;
  top: -10px;
  left: -5px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.edit_small:active, .edit_small:hover {
  color:red;
}
.profile_info, .profile_photo {
  margin-top: 1rem;
}
.profile_info .row {
  margin-left: 0;
  margin-right: 0;
}
.profile_info .row div{
  text-align: center;
  height: 10rem;
  padding:1rem 0 1rem 0;
  border: 3px #0caa50 solid;
}
.profile_info div:nth-child(n+2) {
  margin-top: -3px;
}
.profile_info div:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  border-bottom-left-radius: 0px;
}
.profile_info div:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  border-top-right-radius: 0px;
}
input[type='file'] {
  display: none; 
}

.form_lang {
  position: absolute;
  width: 70px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.red {
  color:red;
}
.none {
  display: none !important;
}
.inline {
  display: inline-block;
  width: auto;
  margin-bottom: .5rem;
}
.choices__list--multiple .choices__item {
  background-color: #0caa50 !important;
}
.confirm_button {
  border: 1px solid #2ecc71;
  border-radius: 10px;
  background-color: white;
  color: #2ecc71;
  padding: 1rem;
  margin-left: 1rem;
  transition: .2s all ease-in-out;
}
.confirm_button:hover {
  background-color: #2ecc71;
  color: white;
}

@media (max-width: 991px) {
  .profile_info div:nth-child(n+2) {
    margin-top: 0px;
    margin-left: -3px;
  }
  .profile_info div:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    border-top-right-radius: 0px;
  }
  .profile_info div:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    border-bottom-left-radius: 0px;

  }
}
textarea {
  min-height: 3rem;
}

@media (max-width: 768px ) {
  main ul {
    padding-left: 0px;
  }
}

@media (max-width: 430px) {
  .profile_info {
    font-size: 1.2rem;
  }
  .big_edit {
   display: none;
  }
  .edit_small {
    display: block;
  }

}