body {
    position: relative;
    /* margin-top: 80px; */
    min-width: 320px;
    width: 100%;
    height: 100%;
    font-family: Roboto;
  }
  
  .gid_nav {
    padding-top: 1rem;
  }
  .gid_nav--menu {
    z-index: 999;
  }
  .gid_nav--menu>.row{
    margin: 0 1rem 0 1rem;
  }

  .gid_nav--menu a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
  .menu-block {
    position: relative;
    border: 3px solid #2ecc71;
    text-align: center;
    padding: 1rem 0 1rem 0;
    font-size: 1.7em;
    font-weight: 500;
    transition: all .3s ease-in;
    cursor: pointer;
  }
  .menu-block:nth-child(n+2){
    margin-left: -3px;
  }
  .menu-block:first-child  {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .menu-block:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .menu-block:hover {
    color:white;
    background-color: #0caa50;
  }
  .menu-block:not(:last-child):before{
    content: '';
    position: absolute;
    right: -5rem;
    top: 0;
    opacity: 0;
    border: 2.7rem solid transparent;
    border-left: 2rem solid #2ecc71;
    transition: all .3s ease-in;
  }
  .menu-block:not(:last-child):hover::before {
    opacity: 1;
  }
  
  @media (min-width:768px) {
    body {
      padding-top: 80px;
    }
  }

  @media (max-width:768px) {
    .menu-block {
      font-size: 1.4em
    }
    .menu-block:not(:last-child):hover::before {
        opacity: 0;
    }
  }

  @media (max-width: 666px) {
    .menu-block span {
      display: none;
    }
  }