main {
    margin-top: 2rem;
}

button {
    outline: none;
}
/* ========================================================================== */
/* Search switcher */
/* ========================================================================== */
.switcher {
    text-align: center;
    font-size: 0;
}
.switcher button {
    background-color: white;
    border: 1px #2ecc71 solid;
    font-size: 1.7rem;
    font-weight: 500;
    color: #2ecc71;
    padding: .5rem 4rem .5rem 4rem;
}
.to-places {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
}
.to-placesMap {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.switcher .active {
    color: white;
    background-color: #2ecc71;
}


/* ========================================================================== */
/* Search config-sidebar */
/* ========================================================================== */
#search_config {
    position: fixed;
    padding-right: 0;
    height: 100vh;
 }
#search_config aside {
    margin-top: 2rem;
}
.panel-search {
    background-color: #2ecc71;
    color: white;
    padding: 1rem;
    font-weight: 500;
    font-size: 14px;
}
#collapse_search span {
    font-weight: 700;
    font-size: 16px;
}
.search_confirm {
    text-align: center;
}
.search_confirm button {
    padding: .5rem 4rem .5rem 4rem;
    background-color: white;
    border: 1px #2ecc71 solid;
    border-radius: 15px;
    font-size: 1em;
    font-weight: 500;
    color: #2ecc71;
    transition: all .3s ease;
}
.search_confirm button:hover {
    background-color: #2ecc71;
    color: #fff;
}
/* ========================================================================== */
/* places/guides/map */
/* ========================================================================== */
#placesMap, #places, #guides {
    margin-top: 2rem;
}

.element {
    overflow: hidden;

    height: 370px;
    padding: 15px;

    transition: all .2s ease;
}

.element:hover,
.element:focus{
    background-color: #2ecc71;
    color: #fff;
}
.element:hover .element-img,
.element:focus .element-img {
    box-shadow: none;
}

.element-img {
    height: 200px;
    margin-bottom: 10px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    box-shadow: 0px 0px 10px 2px #ccc;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.element-name {
    margin: 0;
}

#switch .element-info {
    padding: 0;
}

/* map */
#YMapsID {
    width:100%;
    height:70vh;
  }
  .balloon {
    width: 250px;
    height: auto;
    text-align: center;
    font-size: 1.2rem;
  }
  .balloon img {
    width: 70%;
    height: auto;
  }

/* ========================================================================== */
/* Media queries */
/* ========================================================================== */
@media (max-width: 992px) {
    #search_config {
        margin-top: 1rem;
        position: relative;
        padding-right: 15px;
        height: auto;
    }
}

@media (max-width: 425px) {
    .panel-search {
        text-align: center;
    }
}

