body {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.guideCard {
    background: #0caa50;
    border: 1px rgb(175, 175, 175) solid;
    box-shadow: 0px 0px 4px rgb(175, 175, 175);
    border-radius: 3rem;
    color: white;
}

.guideInfo {
    border: 1px rgb(225, 225, 225) solid;
    border-radius: 1rem;
}

.text-white {
    color: white;
}

#YMapsID {
    margin: auto;
    height: 300px;
    width: 100%;
}

form {
    margin: 0 auto;
}

.btn-order {
    height: 5rem;
    width: 30%;
    display: block;
    margin: 0 auto;
}


.butt {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    background: #0caa50;
    color: white;
    border: 1px solid whitesmoke;
    height: 30px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

@media(max-width: 768px) {
    .btn {
        width: 70%;
    }
}

@media (min-width: 768px) {
    #YMapsID {
        height: 450px;
    }
}

@media (max-width: 992px) {
    .guideInfo {
        border: none;
        border-bottom: 1px solid rgb(225, 225, 225);
        border-radius: 0%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .guideInfo {
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}