.slide {
    margin: 0 1rem 0 1rem;
}

@media(max-width:768px) {
    .slide {
        max-height: 300px;
    }

}

@media(min-width:768px) {
    .slide {
        max-height: 350px;
    }
}

@media(min-width:992px) {
    .slide {
        max-height: 400px;
        margin: 0 2rem 0 2rem;
    }
}

@media(min-width:1200px) {
    .slide {
        max-height: 450px;
    }
}
