.text-center{
    text-align: center;
}

.mt-3{
    margin-top:3rem;
}

hr{
    color:red;
    background-color:red; 
}

.place a, .guide a{
    color: #0f9931;
}

.place a:hover, .guide a:hover{
    color:green;
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

div.stars {
      width: 270px;
      display: inline-block;
    }
input.star { display: none; }
label.star {
      float: right;
      padding: 10px;
      font-size: 36px;
      color: #444;
      transition: all .2s;
    }
input.star:checked ~ label.star:before {
      content: '\f005';
      color: #FD4;
      transition: all .25s;
    }
input.star-5:checked ~ label.star:before {
      color: #FE7;
      text-shadow: 0 0 20px #952;
    }
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
      content: '\f006';
      font-family: FontAwesome;
}
