html, body {
    height: 100%;
}

body {
    padding-top: 80px;
}

.wrap {
    height: auto;
    min-height: 100%;
    padding-bottom: 145px;
}


 .form-field {
     margin-bottom: 20px;
    }
.form-field input {
    width: 100%;height: 50px;padding: 5px 18px;font-size: 12px;border: 0;-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);}
.form-field textarea {resize: vertical; width: 100%;padding: 10px 18px;font-size: 12px;border: 0;-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);}
 .form-field input:focus, 
 .form-field textarea:focus {border-color: rgba(0, 0, 0, 0.4);outline: none;}
 .form-button {text-align: center;}
 /* .form-button button {background: #fff;border: 0;-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);height: 46px;min-width: 170px;font-size: 12px;-webkit-transition: all .3s ease-out;transition: all .3s ease-out;}
 .form-button button:hover {background: rgb(63, 230, 13);border-color: rgb(99, 212, 7);color: #fff;} */





 #RSV{

    padding-bottom: 30px;

 }

.faq-row p{
    font-size: 16px;
}

#form-messages{
    text-align: center;
    margin: 1rem 0;
    color: white;
    background: #2ecc71;
}
@media(max-width:768px){
    .faq-row h2{
        font-size: 20px;
    }

    .faq-row p{
        font-size: 14px;
    }

    .jumbotron h1{
        font-size: 28px;
        font-weight: 525;
    }

    #form-messages{
        font-size: 16px;
    }
}

.uncomp a{
    color: rgb(255, 0, 0);
}

.uncomp a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

