main {
  padding-top: 2rem;
}
main ul {
  list-style: none;
  padding-right: 3rem;
}
main li {
  padding: 1rem;
}

.profile_photo{
  position: relative;
  margin: auto;
  height: 10rem;
  width: 10rem;
  border: 3px #16773f solid;
  border-radius: 50%;
}
.edit {
  text-align: center;
  background-color: #16773f;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
aside .edit {
  position: absolute;
  line-height: 2.5rem;
  font-size: 1.5em;
  bottom: 0;
  right: 0;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid black;
}
aside .edit:active {
  box-shadow: 0px 1px 5px black inset;
}
.big_edit {
  position: fixed;
  line-height: 1.1em;
  font-size: 4.2em;
  bottom: 5rem;
  right: 5rem;
  width: 8rem;
  height: 8rem;
  border: 4px solid black;
  box-shadow: 0 20px 100px black;
}
.big_edit:active {
  box-shadow: 0 20px 100px black,
              0px 5px 10px black inset;
}
.profile_info, .profile_photo {
  margin-top: 1rem;
}
.profile_info .row div{
  text-align: center;
  height: 10rem;
  padding:1rem 0 1rem 0;
  border: 3px #16773f solid;
}
.profile_info div:nth-child(n+2) {
  margin-top: -3px;
}

@media (max-width:768px) {
  .menu-block {
    font-size: 1.2em
  }

.menu-block:not(:last-child):hover::before {
    opacity: 0;
  }

  .big_edit {
    bottom: 5rem;
    right: 1rem;
  }
}

@media (max-width: 991px) {
  .profile_info div:nth-child(n+2) {
    margin-top: 0px;
    margin-left: -3px;
  }
}

@media (max-width: 430px) {
  .profile_info {
    font-size: 1.2rem;
  }
  .menu-block {
    font-size: 1em;
  }

}

@media (max-width: 375px) {
  .menu-block {
    font-size: 1.2rem;
  }
}
