#collapse_search {
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

aside, #accordion, .panel {
    height: 100%;
}

.is-flipped .choices__list--dropdown {
    bottom: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.b {
    display: block;
  }
  
  .toggle {
    position: absolute;
    width: 54px;
    height: 23px;
    border-radius: 100px;
    background-color: #ddd;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
  }
  
  .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
  }
  
    .check:checked ~ .track {
      background-color: #4bd863;
    }
  
    .check:checked ~ .switch {
      right: 2px;
      left: 32px;
      transition-duration: .6s, .2s;
    }
  
  .switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 32px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition-duration: .2s, .6s;
    transition-property: left, right;
    transition-easing-funciton: cubic-bezier(.2,.1,0,1);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
  }
  
  .toggle:active .switch {
    left: 2px;
    right: 2px;
  }
  
  .track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .4s ease;
    border-radius: inherit;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
  }

  input[type=checkbox], input[type=radio] {
      margin: 0;
  }

  .search_confirm {
      margin-top: 20px;
  }
