
.loader {
    display: none;
    width: 3em;
    height: 3em;
    margin: 35px auto;
    animation: loaderAnim 1.25s infinite;
    outline: 1px solid transparent;
}

#largeBox {
    height: 3em;
    width: 3em;
    background-color: #2ecc71;
    outline: 1px solid transparent;
    position: fixed;
}

#smallBox {
    height: 3em;
    width: 3em;
    background-color: #34495e;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@keyframes smallBoxAnim {
    0% {transform: scale(0.2);}
    100% {transform: scale(0.75);}
}

@keyframes loaderAnim {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(90deg);}
}