html, body {
    height: 100%;
}

body {
    padding-top: 80px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.wrap {
    height: auto;
    min-height: 100%;
}

/* ========================================================================== */
/* Navbar */
/* ========================================================================== */
.navbar-default {
    background-color: #fff;
    font-family: Roboto;
    font-weight: 400;

    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #2ecc71;
}

.navbar-nav {
    margin-top: 15px;
}

.navbar-right {
    margin: 22px 15px 0 0;
}

.navbar-header {
    height: 80px;
}

.navbar-header > button {
    margin-top: 23px;
}

.navbar-brand {
    height: 100%;
    padding: 0;
}

.navbar-brand img {
    width: auto;
    height: 100%;
}

.navbar-brand-text {
    width: 110px;

    text-transform: uppercase;
    color: #2ecc71;
    font-weight: 500;
    font-size: 1.7em;
    line-height: 50px;
}

.navbar-brand-text:hover,
.navbar-brand-text:focus {
    text-decoration: none;
    color: #0caa50;
}

#nav-sign-in {
    padding: 8px 20px;

    color: #2ecc71;
    border: 1px solid #2ecc71;
    border-radius: 20px;
}

#nav-sign-in:hover,
#nav-sign-in:focus {
    color: #fff;
    background-color: #2ecc71;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

/* ========================================================================== */
/* Left-sidebar */
/* ========================================================================== */
#map-sidebar {
    display: table;
    table-layout: fixed;

    padding: 0;

    z-index: 0;

    height: 100vh;

    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#map-sidebar .fade {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: .3;
}

.vcenter {
    display: table-row;
    vertical-align: middle;
    text-align: center;
}

.left-s__content {
    font-family: Roboto;
    color: #fff;
}

.intro-title {
    margin: 0;

    font-size: 35px;
    font-weight: 500;
}

.search-form {
    height: 40px;
    margin-top: 20px;
}

.search-form.bottom {
    position: absolute;
    bottom: 100px;
    width: 100%;
    left: 0;
}

.search-input {
    padding: 9px 10px;
    width: 50%;
    min-width: 210px;

    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin-right: -4px;
}

.search-submit {
    color: #fff;
    width: 80px;
    height: 100%;

    background-color: #2ecc71;
    border: none;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.2s ease-in;
}

.search-submit:hover,
.search-submit:focus {
    background-color: #0caa50;
}

/* ========================================================================== */
/* Right-sidebar */
/* ========================================================================== */
#content-sidebar {
    padding: 0;
    font-family: Roboto;
}

.info-block {
    padding: 40px;
    color: #000;
}

.info-block i {
    margin-right: 10px;
}

.info-block:nth-of-type(2n) {
    background-color: #eaffea;
}

.info-block .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.7em;
}

.info-block .descr {
    line-height: 1.5em;
    font-size: 1.2em;
}

.info-block a {
    color: #0caa50;
}


#switch {
    padding: 40px;
}

.switcher {
    text-align: center;
    margin-bottom: 30px;
}

.switcher button {
    padding: 5px 30px;
    border: 1px solid #2ecc71;
    background-color: #fff;

    transition: all 0.3s ease-in;
}

.switcher button:hover,
.switcher button:focus {
    background-color: #0caa50;
    color: #fff;
}

.switcher button.active {
    background-color: #2ecc71;
    color: #fff;
}

.to-guides {
    border-radius: 20px 0 0 20px;
    margin-right: -5px;
}

.to-places {
    border-radius: 0 20px 20px 0;
}


.element {
    height: 370px;
    padding: 15px;

    transition: all 0.2s ease;
}

.element:hover,
.element:focus {
    background-color: #2ecc71;
    color: #fff;
}

.element-img {
    height: 200px;
    margin-bottom: 10px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    box-shadow: 0px 0px 10px 2px #ccc;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.element-name {
    margin: 0;
}

.element-info {
    padding: 0;
}

/* ========================================================================== */
/* Footer */
/* ========================================================================== */
#footer {
    position: relative;
	margin-top: -145px;
	clear:both;
}

#footer .content {
    padding: 35px 40px;
    
    border-top: 1px solid #2ecc71;
}

.footer-social {
    text-align: center;
    font-size: 2rem;
}

.footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 2px solid #000;
    border-radius: 50%;

    transition: all 0.2s ease-in;
}

.footer-social .facebook {
    color: #3b5998;
    border-color: #3b5998;
}

.footer-social .facebook:hover,
.footer-social .facebook:focus {
    color: #fff;
    background-color: #3b5998;
}

.footer-social .vk {
    color: #507299;
    border-color: #6183aa;
}

.footer-social .vk:hover,
.footer-social .vk:focus {
    color: #fff;
    background-color: #6183aa;
}

.footer-social .instagram {
    color: #c0392b;
    border-color: #c0392b;
}

.footer-social .instagram:hover,
.footer-social .instagram:focus {
    color: #fff;
    background-color: #c0392b;
}

.footer-contacts,
.footer-help {
    line-height: 40px;
    font-size: 1.6rem;
}

.footer-contacts a:hover,
.footer-contacts a:focus,
.footer-help a:hover,
.footer-help a:focus {
    color: #000;
}

.footer-rights {
    margin-bottom: 0;
    color: #888;
}


/* ========================================================================== */
/* Media queries */
/* ========================================================================== */
@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }

    .navbar-header {
        height: 50px;
    }

    .navbar-header > button {
        margin-top: 8px;
    }
    
    .navbar-right {
        width: 100%;
        margin: 0;
    }

    #nav-sign-in {
        color: #000;
        padding: 10px 0;
        border: none;
        border-radius: 0;
        border-top: 1px solid #ccc;
    }

    #nav-sign-in:hover, #nav-sign-in:focus {
        color: #2ecc71;
        background-color: #fff;
    }
}

@media (min-width: 992px) {
    #map-sidebar {
        position: fixed;
    }
}

@media (max-width: 360px) {
    .footer-social {
        float: left;
        width: 100%;
    }
}

@media (max-width: 520px) {
    .element {
        width: 100%;
    }
}
