.element-img {
    height: 200px;
    margin: 0 auto;
    margin-bottom: 2rem;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    box-shadow: 0px 0px 10px 2px #ccc;
    border: 2px solid #ccc;
    border-radius: 10px;
}

h1, h3 {
  text-align: center;  
}
ul {
  padding: 0;
  list-style: none;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
#select_form {
  margin-bottom: 1rem;
}
button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  transition: all .2s ease-in;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.modal-body {
  /* padding:  */
}
.modal.fade .modal-dialog {
 transform: translate(0,0) !important;
}